body{
    background-image: url(https://i.pinimg.com/originals/98/3c/f6/983cf62ac4ef3782bbc5dd0c303dc9f3.jpg);
    background-size: 100% ;

}

h1 {
    font-size: 70px;
    color: rgb(12, 13, 117);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul li {
    display: inline;
    margin: 80px;
    padding: 80px;
    font-size: 40px;
}

h2{
    text-align: center;
    font-size: 50px;
    color: rgb(218, 105, 105);
}
 p {
     text-align: center;
     font-size: 30px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     

 }

